$font-stack:    Helvetica, sans-serif;
$primary-color: #009688;

.mapid { height: 400px; }

#chartcontainer { height: 200px; width: 45%; }

.pbar {
    margin: 1px;
    width: 40px;
    height: 40px;
}
.floatright{
    float: right;
}